@import "tailwindcss";

body,
html {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    cursor: url("/public/assets/images/crosshair.png");
}

.glitch-breach {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: -1px;
    color: #fff;

    text-shadow:
        0 0 0 rgb(255 0 0),
        0 0 0 rgb(0 255 0),
        0 0 0 rgb(0 0 255);

    /* The violent 1s vibration loop */
    animation: zombie-glitch 1s infinite cubic-bezier(0.5, -2000, 0.5, 2000);
}

@keyframes zombie-glitch {

    25%,
    100% {
        text-shadow:
            0.03px -0.01px 0.01px rgb(255 0 0),
            0.02px 0.02px 0 rgb(0 255 0),
            -0.02px 0.02px 0 rgb(0 0 255);
    }
}

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    display: grid;
    border: 4px solid;
    border-color: #ccc transparent;
    border-radius: 9999px;
    animation: spin 1s linear infinite;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1 / 1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}

.loader::before {
    border-color: #f03355 transparent;
    animation: spin 0.5s linear infinite reverse;
}

.loader::after {
    margin: 8px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.game-running {
    cursor: none;
}

.custom-cursor {
    width: 40px;
    height: 40px;
    position: fixed;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: red;
    border-radius: 50%; */
}